<div class="card mb-4">
  <div class="card-body bg-light">
      @if (book().firstThumbnailUrl) {
        <img width="100" class="ms-2 img-thumbnail float-end" alt=""
          [src]="book().firstThumbnailUrl">
      }
    <div class="card-title">
      <h2>
        {{ book().title }}
        <span class="badge bg-secondary">{{ book().rating }}</span>
        <app-book-rating [rating]="book().rating" />
      </h2>
    </div>
    <p>{{ book().description }}</p>
    <button [disabled]="book().rating < 2" class="btn btn-primary me-2" (click)="doRateDown()">-1</button>
    <button [disabled]="book().rating > 4" class="btn btn-primary" (click)="doRateUp()">+1</button>

    <a
      [routerLink]="['/books', book().isbn]"
      class="btn btn-secondary ms-2"
    >Details</a>

  </div>
</div>
